@import '_vars';
// Forms
.form {
  &-item {
    display: block;
  }

  &-label {
    display: block;
    padding: 0;
    margin: 0 0 5px;
    font-size: 1.2rem;
    color: #979797;
  }
  &-input,
  &-select {
    padding: 0 30px;
    border: 0;
    background-color: #343737;
    color: #FFF;
    font-size: 1.6rem;
    height: 50px;
    border-radius: 5px;
    width: 100%;
    &.light {
      background: #ffffff;
      border: 2px solid #F5F5F5;
      color: #2D2C31;
      box-shadow: 0px 4px 4px rgba(218, 218, 218, 0.2);
      &:focus {
        background: #ffffff;
        color: #2D2C31;
      }
    }
  }
  &-input:focus,
  &-select:focus {
    box-shadow: 0 0 0 2px $def;
    background-color: #222;
  }
  &-input:disabled,
  &-select:disabled {
    background: #DDD;
    color: #333;
  }
  &-input.invalid,
  &-select.invalid {
    box-shadow: 0 0 0 2px $red;
  }
}

/* Check & Radio */
.form-check,
.form-radio,
.form-switcher {
  display: none;
}
.form-check-label, 
.form-radio-label,
.form-switcher-label {
  display: grid;
  grid-template-columns: 30px 1fr;
  align-items: center;
  grid-gap: 10px;
}
.form-switcher-label {
  display: flex;
  align-items: center;
  grid-gap: 10px;
  color: #979797;
}

.form-list .form-check-label,
.form-list .form-radio-label, 
.form-list .form-switcher-label {
  padding: 15px 0;
  margin: 0 -15px 0 0;
  // border-bottom: $border-1;
}
.form-list .form-check-label:active,
.form-list .form-radio-label:active, 
.form-list .form-switcher-label:active {
  background-color: #f5f5f5;
}
.form-list:last-child .form-check-label,
.form-list:last-child .form-radio-label, 
.form-list:last-child .form-switcher-label {
  border: 0;
}
.form-direction-rtl .form-switcher-label {
  justify-content: space-between;
}
  /* Radio */
  .form-radio-label > span {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    width: 24px;
    height: 24px;
    background-color: #FFF;
    border: 2px #e5e5e5 solid;
    border-radius: 100px;
  }
  // .form-radio-label:hover > span {
  //   border-color: #AAA;
  // }
  .form-radio-label > span::before {
    content: "";
    display: block;
    width: 14px;
    height: 14px;
    border-radius: 100px;
    background-color: $def;
    opacity: 0;
  }
  .form-radio:checked + .form-radio-label > span {
    // border-color: $def;
    background-color: #FFF;
  }
  .form-radio:checked + .form-radio-label > span::before {
    opacity: 1;
  }
  /* Check */
  .form-check-label > span {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    width: 24px;
    height: 24px;
    background-color: #FFF;
    border: 2px #e5e5e5 solid;
    border-radius: 4px;
  }
  // .form-check-label:hover > span {
  //   border-color: #AAA;
  // }
  .form-check-label > span > svg {
    display: block;
    opacity: 0;
  }
  .form-check:checked + .form-check-label > span {
    border-color: $def;
    background-color: $def;
  }
  .form-check:checked + .form-check-label > span > svg {
    opacity: 1;
  }
  /* Switch */
  .form-switcher-label > span {
    display: flex;
    align-items: center;
    padding: 0;
    width: 50px;
    height: 30px;
    background-color: rgba(120, 120, 128, 0.16);
    // border: 2px transparent solid;
    border-radius: 100px;
    position: relative;
    transition: .3s;
  }
  .form-direction-rtl .form-switcher-label > span {
    order: 1;
  }
  .form-list.form-direction-rtl .form-switcher-label > span {
    margin: 0 20px 0 0;
  }
  .form-switcher-label > span::before {
    display: block;
    content: "";
    width: 26px;
    height: 26px;
    background-color: #FFF;
    // box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.2);
    border: 0.5px solid rgba(0, 0, 0, 0.04);
    box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.15), 0px 3px 1px rgba(0, 0, 0, 0.06);
    border-radius: 100px;
    position: absolute;
    left: 2px;
    top: 50%;
    transform: translateY(-50%);
    transition: .3s;
  }
  .form-switcher:checked + .form-switcher-label {
    color: #2D2C31;
  }
  .form-switcher:checked + .form-switcher-label > span {
    border-color: $def;
    background-color: $def;
    transition: .3s;
  }
  .form-switcher:checked + .form-switcher-label > span::before {
    left: 22px;
    transition: .3s;
  }

.form-textarea {
  padding-top: 13px;
  height: 120px;
}
